stages:
  - checkout
  - build
  - test
  - security_scan
  - deploy


.checkout_template:
  stage: checkout
  script:
    - echo "Checking out code..."
    - echo "Service: $SERVICE_NAME"

.build_template:
  stage: build
  script:
    - echo "Building $SERVICE_NAME for $DEPLOY_ENV"
    - ./build.sh

.test_template:
  stage: test
  script:
    - echo "Running tests for $SERVICE_NAME"
    - ./test.sh

.security_template:
  stage: security_scan
  script:
    - echo "Running security scan for $SERVICE_NAME"
    - ./sast_scan.sh

.deploy_template:
  stage: deploy
  script:
    - echo "Deploying $SERVICE_NAME to $DEPLOY_ENV"
    - ./deploy.sh
  environment:
    name: $DEPLOY_ENV



workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'   # Run only on main
    - when: never


include:
  - project: 'devops/devops-ci-templates'
    file: '/.gitlab-ci-templates/prod_pipeline.yml'


variables:
  SERVICE_NAME: "payment-service"
  DEPLOY_ENV: "production"



checkout_job:
  extends: .checkout_template

build_job:
  extends: .build_template

test_job:
  extends: .test_template

security_scan_job:
  extends: .security_template

deploy_job:
  extends: .deploy_template
