stages:
  - fetch_artifact
  - security_validation
  - deploy
  - canary_verify
  - chaos_test
  - health_check

variables:
  KUBE_CONTEXT: "prod-cluster"
  NAMESPACE: "backend"
  CHART_PATH: "helm/backend-chart"


fetch_artifact:
  stage: fetch_artifact
  script:
    - echo "Fetching image tag & SBOM"
  artifacts:
    paths:
      - image-tag.txt
      - sbom.json
  dependencies:
    - containerize


trivy_scan:
  stage: security_validation
  image: aquasec/trivy:latest
  script:
    - export IMAGE_TAG=$(cat image-tag.txt)
    - trivy image --exit-code 1 --severity HIGH,CRITICAL $DOCKER_REGISTRY:$IMAGE_TAG


opa_deploy_check:
  stage: security_validation
  image: openpolicyagent/opa:latest
  script:
    - opa eval -i sbom.json -d policies/deploy.rego "data.deploy.allow"

deploy_canary:
  stage: deploy
  image: alpine/k8s:1.30
  script:
    - export IMAGE_TAG=$(cat image-tag.txt)
    - kubectl config use-context "$KUBE_CONTEXT"
    - helm upgrade --install backend $CHART_PATH \
        --namespace $NAMESPACE \
        --set image.tag="$IMAGE_TAG" \
        --set replicaCount=2 \
        --set canary.enabled=true


canary_verification:
  stage: canary_verify
  image: curlimages/curl:latest
  script:
    - echo "Running canary traffic verification..."
    - for i in {1..20}; do curl -f https://backend.mycompany.com/health || exit 1; sleep 3; done

chaos_experiment:
  stage: chaos_test
  image: ghcr.io/chaos-mesh/chaosctl:latest
  script:
    - chaosctl pod-kill --namespace $NAMESPACE --label app=backend --duration 30s


final_health_check:
  stage: health_check
  image: alpine/k8s:1.30
  script:
    - kubectl rollout status deployment/backend -n $NAMESPACE
    - kubectl get pods -n $NAMESPACE
    - kubectl top pods -n $NAMESPACE
