stages:
  - fetch_artifact
  - security_scan
  - deploy
  - verify

variables:
  KUBE_CONTEXT: "prod-cluster"
  NAMESPACE: "backend"
  CHART_PATH: "helm/backend-chart"


fetch_artifact:
  stage: fetch_artifact
  script:
    - echo "Fetching artifacts from upstream..."
  dependencies:
    - containerize
  artifacts:
    paths:
      - image-tag.txt

security_scan:
  stage: security_scan
  image: aquasec/trivy:latest
  script:
    - export IMAGE_TAG=$(cat image-tag.txt)
    - trivy image "registry.gitlab.com/mygroup/service-backend:$IMAGE_TAG"


deploy_prod:
  stage: deploy
  image: alpine/k8s:1.30
  script:
    - export IMAGE_TAG=$(cat image-tag.txt)
    - kubectl config use-context "$KUBE_CONTEXT"
    - kubectl create namespace $NAMESPACE --dry-run=client -o yaml | kubectl apply -f -
    - helm upgrade --install backend-app $CHART_PATH \
        --namespace $NAMESPACE \
        --set image.repository="registry.gitlab.com/mygroup/service-backend" \
        --set image.tag="$IMAGE_TAG"


verify_app:
  stage: verify
  image: alpine/k8s:1.30
  script:
    - kubectl rollout status deployment/backend-app -n $NAMESPACE
    - kubectl get pods -n $NAMESPACE
